.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);

  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  flex: 1;
  box-sizing: border-box;
  max-width: 50%;
}

.image {
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  min-width: 100%;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
