.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background: var(--primary-color);

  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  flex: 1;
  box-sizing: border-box;
  max-width: 50%;
}

.content {
  width: 40%;
  margin: auto;
}

.subText {
  width: 75%;
  margin: 0 0 calc(var(--padding) * 3) 0;
}

.category {
  background: var(--primary-light-color);
  font-size: 0.8rem;
  padding: calc(var(--padding) / 3) var(--padding);
  border-radius: calc(var(--border-radius) * 4);
}
